/* Reset padrão */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #4A90E2, #D0021B);
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    background: rgba(255, 255, 255, 0.3) !important;
}

/* Células */
.cell {
    width: min(100px, 20vw);
    height: min(100px, 20vw);
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Quando a célula está preenchida */
.cell.x, .cell.circle {
    cursor: not-allowed;
}

/* Remover bordas desnecessárias */
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

/* X */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before {
    content: "";
    width: calc(100px * 0.15);
    height: calc(100px * 0.9);
    background: white;
    position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

/* O círculo */
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    content: "";
    width: calc(100px * 0.9);
    height: calc(100px * 0.9);
    background: white;
    position: absolute;
    border-radius: 50%;
}

/* Mensagem de vitória */
.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
}

.winning-message-text {
    color: white;
    font-size: 5rem;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.winning-message-button {
    font-size: 2rem;
    background-color: chartreuse;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    transition: 0.3s ease;
    color: white;
    margin-top: 16px;
}

.winning-message-button:hover {
    transform: scale(1.1);
    background-color: white;
    color: chartreuse;
}

.show-winning-message{
    display: flex;
}